@import "_variables.scss";
@import "caching.scss";
@import "cat.scss";

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo2.0-Thin.otf'),
    url("../fonts/Exo2-Thin.eot"),
    url("../fonts/Exo2-Thin.ttf");
}

@font-face {
    font-family: 'Trebushet';
    src: url('../fonts/TrebuchetMS.woff'),
    url("../fonts/TrebuchetMS.eot"),
    url("../fonts/TrebuchetMS.ttf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

//fix bug ie 10 and ie 11 when
//using "min-height" and "align-items: center" together
.wrapper-flex {
    display: flex;
}